# ========================
# Application
# ========================
APP_NAME=JUKI
APP_ENV=production
APP_PORT=3000

# ========================
# Database (SOURCE OF TRUTH)
# ========================
DATABASE_URL="postgresql://appuser:password-ku-kuat@localhost:5432/appdb?schema=public"

# ========================
# JWT (random, aman)
# ========================
JWT_ACCESS_SECRET=9a35415f286ce0c23020e79e0fa9049c
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=9a35415f286ce0c23020e79e0fa9049c
JWT_REFRESH_EXPIRES_IN=7d

# ========================
# Security
# ========================
BCRYPT_ROUNDS=10
RATE_LIMIT_TTL=60000
RATE_LIMIT_MAX=100

# ========================
# CORS
# ========================
CORS_ORIGIN=https://JukiService.com